<span @ondblclick="OnDoubleClick">

    @if (_editMode)
    {
        @* <EditForm Model="@_this" OnValidSubmit="@HandleValidSubmit" FormName="text_form" novalidate> *@
            <FluentStack Orientation="Orientation.Horizontal">
                @if (Mode == InputMode.TextField)
                {
                    <FluentTextField @bind-Value="@Value" Style="width: 100%"/>
                }
                else
                {
                    <FluentTextArea @bind-Value="@Value" Style="width: 100%"/>
                }

                <FluentButton
                    Type="ButtonType.Reset"
                    OnClick="CancelEditing"
                    Appearance="Appearance.Lightweight"
                    IconEnd="@(new Icons.Regular.Size16.Delete())">
                </FluentButton>
                <FluentButton
                    Type="ButtonType.Submit"
                    OnClick="HandleValidSubmit"
                    Appearance="Appearance.Accent"
                    IconEnd="@(new Icons.Regular.Size16.Save())">
                </FluentButton>
            </FluentStack>
        @* </EditForm> *@
    }
    else
    {
        @Value
    }

</span>
