@page "/todos"

@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Filled
@using Server.Components.Components

<FluentToolbar id="todo-toolbar" Style="width: 100%; margin-bottom: 1rem; padding: 1rem">
    <label slot="label">Manage Todos</label>
    <FluentButton
        Appearance="Appearance.Accent"
        OnClick="AddTodo"
        IconStart="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.AddSquare())">
        New
    </FluentButton>
    
    <FluentButton
        Appearance="Appearance.Lightweight"
        Disabled="@(CurrentTodo == null)"
        OnClick="DeleteCurrentTodo"
        IconStart="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Delete())">
        Remove
    </FluentButton>
    
    <FluentTextField slot="end" Placeholder="Search"></FluentTextField>
    <FluentIcon slot="end" Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Globe())"
        Icon="@(Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Globe)" />
    
    
    @* <FluentRadioGroup @bind-Value=value1> *@
    @*     <FluentRadio Value=@("one") Checked="true">One</FluentRadio> *@
    @*     <FluentRadio Value=@("two")>Two</FluentRadio> *@
    @*     <FluentRadio Value=@("three")>Three</FluentRadio> *@
    @* </FluentRadioGroup> *@
    @* <FluentMenuButton @ref=menubutton Text="Select brand color" Items="@items" OnMenuChanged="HandleOnMenuChanged"></FluentMenuButton> *@
    @* *@
    @* <FluentButton>Button</FluentButton> *@
    @* *@
    @* <FluentInputLabel ForId="s1" Orientation="Orientation.Horizontal">Select something</FluentInputLabel> *@
    @* <FluentSelect Id="s1" Class="below outline" @bind-Value="@comboboxValue" TOption="string"> *@
    @*     <FluentOption id="option-15">Option 1</FluentOption> *@
    @*     <FluentOption id="option-16">Second option</FluentOption> *@
    @*     <FluentOption id="option-17">Option 3</FluentOption> *@
    @* </FluentSelect> *@
    @* *@
    @* <FluentCheckbox @bind-Value=check1>Checkbox</FluentCheckbox> *@
</FluentToolbar>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center">
    
    <FluentCard Width="50%">
        
        @if (CurrentTodo is not null)
        {
            <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.SpaceBetween">
                <h4>
                    <InlineEditableText ChangesSaved="() => _todoRepository.UpdateTodoNonCascading(CurrentTodo)" Mode="InlineEditableText.InputMode.TextField" @bind-Value="@CurrentTodo!.Title" />
                </h4>
                <FluentBadge Appearance="Appearance.Lightweight">@GetDateTimeDescriptionString(CurrentTodo!.LastUpdated)</FluentBadge>
            </FluentStack>
            
            <p> <InlineEditableText ChangesSaved="() => _todoRepository.UpdateTodoNonCascading(CurrentTodo)" Mode="InlineEditableText.InputMode.TextArea" @bind-Value="@CurrentTodo!.Description" /> </p>
            
            <FluentGrid Justify="JustifyContent.FlexStart" Spacing="3">
                <FluentGridItem xs="12">
                    <FluentSortableList @ref="_itemList" Items="@CurrentTodo!.Items" OnUpdate="@SortList">
                        <ItemTemplate>
                            <FluentStack @key="@context.Id" Orientation="Orientation.Horizontal">
                                <FluentCheckbox Value="@context.IsDone" ValueChanged="@(value => CheckboxValueChanged(value, context.Id))" />
                                <InlineEditableText ChangesSaved="@(() => _todoRepository.UpdateTodoItem(@context, CurrentTodo))" Mode="InlineEditableText.InputMode.TextField" @bind-Value="@context.Text" />
                            </FluentStack>
                        </ItemTemplate>
                    </FluentSortableList>
                </FluentGridItem>
            </FluentGrid>
            
            <FluentButton
                Appearance="Appearance.Lightweight"
                OnClick="AddItemToCurrentTodo"
                IconStart="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size16.AddSquare())">
            </FluentButton>
        }
        else
        {
            <p>No todo selected</p>
        }

    </FluentCard>
    
    <FluentGrid Justify="JustifyContent.FlexStart" Spacing="3" Style="width: 50%">
        <FluentGridItem xs="12">
            <FluentSortableList Items="_items" OnUpdate="@SortList" Selection="Selection">
                <ItemTemplate>
                    <FluentStack Style="padding:0.5rem" Orientation="Orientation.Horizontal" onclick="@(() => SetCurrentTodo(@context))">
                        @context.Title
                        @if (context.Id == CurrentTodo?.Id)
                        {
                            <FluentBadge Appearance="Appearance.Neutral">Current</FluentBadge>
                        }
                        <FluentSpacer/>
                        <FluentBadge Appearance="Appearance.Accent">New</FluentBadge>
                        @context.Date
                    </FluentStack>
                </ItemTemplate>
            </FluentSortableList>
        </FluentGridItem>
    </FluentGrid>    
    
</FluentStack>
