@page "/todos"

@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Filled
@using Server.Components.Components



<FluentToolbar id="todo-toolbar" Style="width: 100%">
    <label slot="label">Manage Todos</label>
    <FluentButton
        Appearance="Appearance.Accent"
        OnClick="AddTodo"
        IconStart="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.AddSquare())">
        New
    </FluentButton>
    
    <FluentButton
        Appearance="Appearance.Lightweight"
        IconStart="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Delete())">
        Remove
    </FluentButton>
    
    <FluentTextField slot="end" Placeholder="Search"></FluentTextField>
    <FluentIcon slot="end" Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Globe())"
        Icon="@(Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Globe)" />
    
    
    @* <FluentRadioGroup @bind-Value=value1> *@
    @*     <FluentRadio Value=@("one") Checked="true">One</FluentRadio> *@
    @*     <FluentRadio Value=@("two")>Two</FluentRadio> *@
    @*     <FluentRadio Value=@("three")>Three</FluentRadio> *@
    @* </FluentRadioGroup> *@
    @* <FluentMenuButton @ref=menubutton Text="Select brand color" Items="@items" OnMenuChanged="HandleOnMenuChanged"></FluentMenuButton> *@
    @* *@
    @* <FluentButton>Button</FluentButton> *@
    @* *@
    @* <FluentInputLabel ForId="s1" Orientation="Orientation.Horizontal">Select something</FluentInputLabel> *@
    @* <FluentSelect Id="s1" Class="below outline" @bind-Value="@comboboxValue" TOption="string"> *@
    @*     <FluentOption id="option-15">Option 1</FluentOption> *@
    @*     <FluentOption id="option-16">Second option</FluentOption> *@
    @*     <FluentOption id="option-17">Option 3</FluentOption> *@
    @* </FluentSelect> *@
    @* *@
    @* <FluentCheckbox @bind-Value=check1>Checkbox</FluentCheckbox> *@
</FluentToolbar>

<FluentStack HorizontalAlignment="HorizontalAlignment.Stretch">
    
    <FluentCard Width="400px">
        <h4>Todo</h4>
        <p> <InlineEditableText Mode="InlineEditableText.InputMode.TextArea" Value="Just some content in a card (with a button that does not do anything)." ></InlineEditableText></p>

        <FluentGrid Justify="JustifyContent.FlexStart" Spacing="3">
            <FluentGridItem xs="12">
                <FluentSortableList Items="_items" OnUpdate="@SortList">
                    <ItemTemplate>
                    
                        <FluentCheckbox></FluentCheckbox>
                        <InlineEditableText Mode="InlineEditableText.InputMode.TextField" Value="@context.Name"></InlineEditableText>

                    </ItemTemplate>
                </FluentSortableList>
            </FluentGridItem>
        </FluentGrid>

    </FluentCard>
    
    <FluentGrid Justify="JustifyContent.FlexStart" Spacing="3" Style="width: 50%">
        <FluentGridItem xs="12">
            <FluentSortableList Items="_items" OnUpdate="@SortList">
                <ItemTemplate>
                    @context.Name
                    <FluentSpacer />
                    <FluentBadge Appearance="Appearance.Accent">New</FluentBadge>
                    @DateOnly.FromDateTime(DateTime.Now)
                </ItemTemplate>
            </FluentSortableList>
        </FluentGridItem>
    </FluentGrid>    
    
</FluentStack>
