@page "/todos"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Filled
@using Server.Components.Text

<FluentToolbar id="todo-toolbar" Style="width: 100%; margin-bottom: 1rem; padding: 1rem">
    <FluentLabel Weight="FontWeight.Bold" slot="label" Style="margin-right: 1rem;">Manage Todos</FluentLabel>
    <FluentButton
        Appearance="Appearance.Accent"
        OnClick="AddTodo"
        IconStart="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.AddSquare())">
        New
    </FluentButton>
    
    <FluentButton
        Appearance="Appearance.Lightweight"
        Disabled="@(CurrentTodo == null)"
        OnClick="DeleteCurrentTodo"
        IconStart="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Delete())">
        Remove
    </FluentButton>
 
    <FluentDatePicker slot="end" Label="" AriaLabel="To" Value="@(_todoDate.ToDateTime())" ValueChanged="OnDateFilterChanged" View="CalendarViews.Months" DoubleClickToDate="DateTime.Today" Style="margin-right:0.5rem" />
    @* <FluentTextField slot="end" Placeholder="Search"></FluentTextField> *@
    
    <FluentSelect TOption="TodoState" />
    
    <FluentSearch slot="end" 
                  @bind-Value="@_todoSearchTitle"
                  @bind-Value:after="@OnSearch"
                  Immediate="true"
                  ImmediateDelay="0"
                  Placeholder="Search Todo" />
    <FluentIcon slot="end" Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Globe())"
        Icon="@(Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Globe)" />
    
</FluentToolbar>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center">
    
    <FluentCard Width="50%">
        
        @if (CurrentTodo is not null)
        {
            <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.SpaceBetween">
                <h4>
                    <InlineEditableText ChangesSaved="() => _todoRepository.UpdateTodoNonCascading(CurrentTodo)" Mode="InlineEditableText.InputMode.TextField" @bind-Value="@CurrentTodo!.Title" />
                </h4>
                <FluentBadge Appearance="Appearance.Lightweight">@GetDateTimeDescriptionString(CurrentTodo!.LastUpdated)</FluentBadge>
            </FluentStack>
            
            <p> <InlineEditableText ChangesSaved="() => _todoRepository.UpdateTodoNonCascading(CurrentTodo)" Mode="InlineEditableText.InputMode.TextArea" @bind-Value="@CurrentTodo!.Description" /> </p>
            
            <FluentGrid Justify="JustifyContent.FlexStart" Spacing="3">
                <FluentGridItem xs="12">
                    <FluentSortableList Items="@CurrentTodo!.Items" OnUpdate="@SortList">
                        <ItemTemplate>
                            <FluentStack @key="@context.Id" Orientation="Orientation.Horizontal">
                                <FluentCheckbox Value="@context.IsDone" ValueChanged="@(value => CheckboxValueChanged(value, context.Id))" />
                                <InlineEditableText ChangesSaved="@(() => _todoRepository.UpdateTodoItem(@context, CurrentTodo))" Mode="InlineEditableText.InputMode.TextField" @bind-Value="@context.Text" />
                            </FluentStack>
                        </ItemTemplate>
                    </FluentSortableList>
                </FluentGridItem>
            </FluentGrid>
            
            <FluentButton
                Appearance="Appearance.Lightweight"
                OnClick="AddItemToCurrentTodo"
                IconStart="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size16.AddSquare())">
            </FluentButton>
        }
        else
        {
            <p>No todo selected</p>
        }

    </FluentCard>
    
    <FluentGrid Justify="JustifyContent.FlexStart" Spacing="3" Style="width: 50%">
        <FluentGridItem xs="12">
            <FluentSortableList Items="_items" OnUpdate="@SortList" Selection="Selection">
                <ItemTemplate>
                    <FluentStack Style="padding:0.5rem" Orientation="Orientation.Horizontal" onclick="@(() => SetCurrentTodo(@context))">
                        
                        <FluentHighlighter HighlightedText="@_todoSearchTitle"
                                           Delimiters=" ,;"
                                           Text="@context.Title" />
                        
                        @if (context.Id == CurrentTodo?.Id)
                        {
                            <FluentBadge Appearance="Appearance.Neutral">Current</FluentBadge>
                        }
                        <FluentSpacer/>
                        
                        <FluentBadge Appearance="@(context.State switch
                                     {
                                         TodoState.New => Appearance.Accent,
                                         TodoState.InProgress => Appearance.Neutral,
                                         TodoState.Done => Appearance.Neutral,
                                         _ => Appearance.Neutral
                                     })"
                                     BackgroundColor="@(context.State switch
                                     {
                                         TodoState.New => "var(--todo-new-color)",
                                         TodoState.InProgress => "var(--main-accent-color)",
                                         TodoState.Done => "var(--todo-done-color)",
                                         _ => "gray"
                                     })"
                                     Fill="highlight">@context.State.ToString()</FluentBadge>
                        
                        @context.Date
                    </FluentStack>
                </ItemTemplate>
            </FluentSortableList>
        </FluentGridItem>
    </FluentGrid>    
    
</FluentStack>
